body{
  padding: 0;
  margin: 0;
}
.mas{
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 80px;
  background-color: #333;
  position: relative;
}
.mas span{
  color: aliceblue;
  font-size: 1.6rem;
  text-decoration: none;
  line-height: 60px;
  display: block;
  text-align: center;
   
}
.mas span{
  background-color: #333;
  color: #ffff;
}
h2{
  text-align: center;
  color: black;
  border-bottom: 2px solid #036;

}
.btn{
  margin-left: 30px;
}
 