@media (max-width:1300px) and (min-width:500px) {
    #prices {
        display: none;
    }
    #vices {
        display: none;
    }
}

@media (max-width:1000px) and (min-width:300px) {
    #vices {
        display: none;
    }
    .mensaje{
        display: none;
    }
    .fotos img{
        width: 100%;
        height: auto;
        margin-top: 16px;
        
    }
}