@media (min-width:500px) and (max-width:1300px) {
    #prices {
        display: none;
    }
    #vices {
        display: none;
    }
     .mensajes{
        display: none;
    }
}

@media (min-width:260px) and (max-width:1000px) {
    #vices {
        display: none;
    }
    .mensaje{
        display: none;
    }
    .fotos img{
        width: 100%;
        height: auto;
        margin-top: 16px;
    }
    .mensajes{
        display: none;
    }
}