body {
    padding: 0;
    margin: 0;
}

.titulo {
    background-color: #f6f6f6;
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.titulo h1 {
    font-size: 2rem;
    line-height: 100px;
    text-align: center;
    color: #04aa6b;
}

.titulo .boton {
    padding: 10px;
    border: 0;
    text-align: center;
    display: inline-block;
    margin-left: 100px;
    text-decoration: none;
    font-size: 1.8rem;
}

.titulo .mensage {
    float: right;
    margin-right: 200px;
    background-color: #04aa6b;
    width: 160px;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 0.4rem;
}

.titulo .mensage .mas {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

.titulo .mensage .text {
    color: #0366b6;
    max-width: 160px;
    background-color: #f6f6f6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    display: none;
    margin-top: 20px;
}

.titulo .mensage:hover .text {
    display: block;
}

.fotos {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-top: 100px;
    border-radius: 0.4rem;
    text-align: center;
}

.fotos .foto {
    width: 400px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 0.4rem;
}

.pie {
    margin-top: 160px;
    width: 100%;
    height: 200px;
    background-color: #0354;
    text-align: center;
}

.pie h2 {
    padding: 10px 0px;
    text-align: center;
    line-height: 30px;
    color: #04aa6b;
    font-weight: bold;
}

.pie span {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #000;
    font-size: 1.6rem;
}