body {
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
 
.titulo{
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 160px;
    position: relative;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    cursor: pointer;
    background-color: #04aa6b;
    
}
.titulo h2{
    color: #036b;
    font-size: 3rem;
}
 
.fotos {
    max-width: 90%;
    margin: 24px auto; 
    background-color: #fff;
    margin-top: 60px;
 
    text-align: center;
}
.fotos img{
    border-radius: 0.2rem;
    width: 800px;
    height: 600px;
    padding: 6px; 
}
.fotos .foto {
    width: 400px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
   
    border-radius: 0.4rem;
}
 
 
.orario p{
    color: #003349;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 16px;
}
.pie {
    margin-top: 80px;
    width: 100%;
    height: 200px;
    background-color: #003349;
    text-align: center;
}

.pie h2 {
    
    text-align: center;
   
    color: #04aa6b;
    font-weight: bold;
}

.pie span {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #000;
    font-size: 1.6rem;
}