body {
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    list-style-type: none;
    background-color: #333;
}
li{
    float: left;
} 
li a{
    text-decoration: none;
    display: block;
    padding: 16px 16px;
    font-size: 1.4rem;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
a::before{
    top: 0;
    width: 100%;
    height: 100%;
    right: 100%;
    background-color: rgb(40, 42, 44);
    overflow: hidden;
    transition: 0.3s;
    position: absolute;
    content: "";
    z-index: -1;
}
li a:hover::before{
   transform: translateX(100%);
}
 
.titulo{
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 160px;
    position: relative;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    cursor: pointer;
    
}
.titulo h2{
    color: #036b;
    font-size: 1.8rem;
}
 
.fotos {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-top: 60px;
    border-radius: 0.4rem;
    text-align: center;
}
.fotos img{
    border-radius: 0.4rem;
    width: 800px;
    height: 600px;
     margin-top: 16px;
}
.fotos .foto {
    width: 400px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
   
    border-radius: 0.4rem;
}

.pie {
    margin-top: 80px;
    width: 100%;
    height: 200px;
    background-color: #0354;
    text-align: center;
}

.pie h2 {
    
    text-align: center;
   
    color: #04aa6b;
    font-weight: bold;
}

.pie span {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #000;
    font-size: 1.6rem;
}